html {
  font-family: "Ubuntu Condensed", sans-serif;
  background-image: url("../images/starfield.png");
  color: #fff;
}

.grid {
  text-align: center;
}

.tena,
.giga {
  text-shadow: 0 0 4px rgba(255, 255, 255, .7);
}

nav {
  text-decoration: none;
  border-color: #90ccc3;
  outline: none;
  cursor: pointer;
  border: none;
}

nav > a {
  text-decoration: none;
  color: #b4fff4;
}

.btn-ghost {
  color: #b4fff4;
  border-radius: 8px;
  transition: 250ms ease-in-out;
}

.btn {
  box-shadow: 0 9px rgba(180, 255, 244, .2);
  border: 2px solid #90ccc3;
}

.btn:focus,
.btn:hover {
  background-color: rgba(180, 255, 244, .2);
  border: 2px solid #90ccc3;
}

.btn:active {
  box-shadow: 0 5px rgba(180, 255, 244, .2);
  transform: translateY(4px);
}

.icon:hover {
  transform: translateY(-4px);
}
